<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
  <div id="app">
    <nav class="navbar navbar-static-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ALBUM</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="jumbotron">
            <h1>HELLO, ALBUM!</h1>
            <p>allow you manage your photos online</p>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="#signIn" data-toggle="tab">Sign In</a></li>
              <li role="presentation"><a href="#signUp" data-toggle="tab">Sign Up</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="signIn">
                <form action="/signin" method="post">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" />
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" />
                  </div>
                  <div class="form-group form-actions">
                    <button class="btn btn-primary action-trigger" data-action="/signin">Sign In</button>
                  </div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="signUp">
                <form action="/signup" method="post">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" />
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" />
                  </div>
                  <div class="form-group form-actions">
                    <button class="btn btn-default action-trigger" data-action="/signUp">Sign Up</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="jquery.js" charset="utf-8"></script>
  <script src="js/bootstrap.js" charset="utf-8"></script>
</body>
</html>
