.album-info {
  margin-bottom: 10px;
}

.album-info__text {
  font-size: 3em;
  small {
    font-size: 0.4em;
    margin-left: 1em;
  }
}

.photo-toolbar {
  margin-bottom: 20px;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.photo-item__thumbnail {
  margin-bottom: 10px;
  position: relative;
  transition: all 0.1s linear;
  .dropdown-menu {
    min-width: initial;
  }
  &:hover {
    .photo-item__action {
      display: block;
    }
  }
}

.photo-item__action {
  display: none;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  .action-trigger {
    cursor: pointer;
    .glyphicon {
      margin-right: 1em;
    }
  }
}

.photo-item__cover {
  position: relative;
  height: 160px;
  overflow: hidden;
  img {
    max-height: 160px;
  }
}

.photo-item__cover--chosen {
  display: none;
  text-align: center;
}

.photo-item__title-span {
  line-height: 2.6em;
  display: block;
  text-align: center;

  padding: 0px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.photo-item__title {
  position: relative;
  .action-trigger {
    transition: all 0.1s linear;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -0.5em;
  }
  &.editing {
    .photo-item__title-span {
      display: none;
    }
    .photo-item__input--edit-title {
      text-align: center;
      margin: 4px 0px;
      height: 2em;
      display: block;
    }
    .action-trigger {
      display: none;
    }
  }
  &:hover {
    .action-trigger {
      opacity: 1;
    }
  }
}

.photo-item__input--edit-title {
  display: none;
}

.photo-list--batch-management {
  .photo-item__action {
    display: none !important;
  }

  .photo-item__title {
    .glyphicon {
      display: none !important;
    }
  }

  .photo-item__cover--chosen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: transparent;
    font-size: 5em;
    .glyphicon {
      line-height: 2em;
    }
  }

  .photo-item--chosen {
    .photo-item__thumbnail {
      box-shadow: 1px 1px 3px #888;
    }
    .photo-item__cover--chosen {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
